<div class="card">
  <div class="card-header">
    <br>
    <div class="social d-flex justify-content-center">
                    <h2><a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a></h2>
                   <h2><a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a></h2>
                    <h2><a class="mx-2" href="#!"><i class="fab fa-github"></i></a></h2>
                </div>
      <div class="container">
        <br>
        <br>
       </u> <br><hr>.............................................................................................................................................................Copyright © Your Website 2020.....................................................................................................................................</div>
  </div>
  <div class="card-body">


    </blockquote>
  </div>
</div>

{% block content %}


{% endblock %}