<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>COMPLEXES</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
     <link href="{% static 'css/home.css' %}" rel="stylesheet">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">𝙿̲𝚁̲𝙴̲𝙸̲𝙽̲𝚉̲ 𝙲̲𝙻̲𝙰̲S𝚂̲🎓</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>

    </div>
  </div>
</nav>



<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
  </ol>
   <div class="carousel-inner" id="pop">
           <div class="carousel-item active">
             <img src="{% static 'img/exomat.jpg' %}" class="d-block w-100" alt="top">
             <div class="carousel-caption d-none d-md-block tree">
               <div class="tree">
                   </div>
               </div>
             </div>
           <div class="carousel-item">
                <img src="{% static 'img/exoma.jpg' %}" class="d-block w-100" alt="pe">
             <div class="carousel-caption d-none d-md-block tree" >
               <div class="top" >

               </div>
             </div>
           </div>
               <div class="carousel-item">
                 <img src="{% static 'img/exom.jpg' %}" class="d-block w-100" alt="tu">
                 <div class="carousel-caption d-none d-md-block tree">
                   <div class="vip">

                   </div>
                 </div>
               </div>
         </div>
             <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
               <span class="sr-only"></span>
             </a>
             <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
               <span class="sr-only"></span>
             </a>
</div>
<br>
<hr>

<div id="complexe">
    <div class="te">
        <p><h2> CORPS DU PROGRAMME EDUCATIF TERMINALES</h2></p>

        <br>

    </div>
    <h4> COMPETENCE 1</h4>
<h5>Traiter une situation relative aux calculs algébriques et aux fonctions.</h5>
    <br>
    <br>
<div class="cours">
    <br>
    <h3>THEME 1 : CALCULS ALGEBRIQUES</h3>
    <br>
    <h5>Leçon 1.1 : Nombres complexes</h5>
    <br>
    <br>
   <h5>Exemple de situation</h5>
<p><h5>Des élèves d'une classe de terminale s'interroge sur ce qu’ils viennent de découvrir à l'exposition
sur les journées mathématiques organisée par la Société Mathématique de Côte d'Ivoire (SMCI).
Dans un stand sur les équations on peut lire :<br>
    Au début du XVIème siècle, le mathématicien Scipione dal Ferro, propose une formule donnant
une solution de l'équation du 3ème degré x3 + px = q
    <br>
    <div id="to">
        <br>
        <h3>x = √
𝑞−√𝑞²+4𝑝3/27
2
3
+ √
𝑞+√𝑞²+4𝑝3/27
2
</h3>
    </div>

</h5></p>
    <br>
    <div id="tos">
        <p><h5>A la fin du XVIème siècle, le mathématicien Bombelli applique cette formule à l'équation x3 - 15x
= 4.
Il obtient littéralement : x = √2 − 11√−1
3
+ √2 + 11√−1
3
.
Les élèves sont intrigués par la notation √−1 car depuis la classe de troisième ils savent que la
racine carrée d'un nombre négatif n'existe pas. Leur professeur de mathématique explique qu'en
mathématique, lorsqu'une une équation n’a pas de solutions dans un ensemble, une démarche
naturelle (et historique) consiste à en chercher dans un ensemble plus grand. L’ensemble
numérique le plus grand que l’on a rencontré est IR. Pourtant, l’équation x² + 1 = 0 n’a pas de
solutions dans IR. Il faut donc envisager un autre ensemble noté C contenant des nombres
imaginaires.
Les élèves décident d'en savoir d'avantage sur ce nouvel ensemble. </h5></p>

    </div>
    <br>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">𝙿̲𝚁̲𝙴̲𝙸̲𝙽̲𝚉̲ 𝙲̲𝙻̲𝙰̲S𝚂̲🎓</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

      </ul>

    </div>
  </div>
</nav>


    <br>
    <div id="accord">
    <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
       IDENTIFIER
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">- la partie réelle , la partie imaginaire d’un nombre complexe<br>
- la forme algébrique d’un nombre complexe<br>
- la forme trigonométrique d’un nombre complexe<br>
- la forme exponentielle d’un nombre complexe </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        CONNAITRE
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">- la définition du module , d’un argument d’un nombre complexe<br>
- les propriétés relatives au module et un argument du produit, de
l’inverse, du quotient et de la puissance entière d’un nombre complexe<br>
- les propriétés relatives à la somme, au produit et au quotient de deux
nombres complexes<br>
- la définition du conjugué d’un nombre complexe<br>
- les propriétés relatives au conjugué d’un nombre complexe<br>
- la propriété relative à l’égalité de deux nombres complexes<br>
      - l’affixe d’un point , d’un vecteur ,<br>
- le point image , le vecteur image d’un nombre complexe<br>
- la définition d’une racine carrée d’un nombre complexe<br>
- la définition d’une racine 𝑛
𝑖è𝑚𝑒 d’un nombre complexe non nul<br>
- les racines 𝑛
𝑖è𝑚𝑒 de l’unité<br>
- la formule de Moivre<br>
- la formule d’Euler<br>
- les caractérisations complexes d’un cercle , d’une droite , d’une demidroite</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        DETERMINER
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">- la forme algébrique, la forme trigonométrique d’un nombre complexe<br>
- la partie réelle, la partie imaginaire d’un nombre complexe<br>
- le conjugué d’un nombre complexe<br>
- le module et un argument d’un nombre complexe non nul<br>
- des lieux géométriques à l’aide des nombres complexes<br>
- les racines carrées d’un nombre complexe<br>
- les racines 𝑛<br>
𝑖è𝑚𝑒 d’un nombre complexe non nul
</div>
    </div>
  </div>
</div>
        <hr>
        <br>
        <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        CALCULER
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">- la somme, le produit et le quotient de deux nombres complexes<br>
- la puissance d’un nombre complexe</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        UTILISER
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">- les formules de Moivre et d’Euler pour transformer des produits en
somme dans des expressions trigonométriques.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
       RESOUDRE
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">- une équation du second degré à coefficients complexes ainsi que des
équations s’y ramenant<br>
- une équation se ramenant du second degré à coefficients complexes</div>
    </div>
  </div>
</div>


</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</div>





























































<!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
              <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
              <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
              <li><a href="http://scanfcode.com/category/android/">Android</a></li>
              <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">About Us</a></li>
              <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
         <a href="#">Scanfcode</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>


  <script src="{% static 'js/maine.js' %}"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</body>
</html>