<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>𝙿̲𝚁̲𝙴̲𝙸̲𝙽̲𝚉̲ 𝙲̲𝙻̲𝙰̲S𝚂̲🎓</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
     <link href="{% static 'css/home.css' %}" rel="stylesheet">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">𝙿̲𝚁̲𝙴̲𝙸̲𝙽̲𝚉̲ 𝙲̲𝙻̲𝙰̲S𝚂̲🎓</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">

        </li>
        <li class="nav-item">

        </li>
      </ul>

    </div>
  </div>
</nav>



<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
  </ol>
   <div class="carousel-inner" id="pop">
           <div class="carousel-item active">
             <img src="{% static 'img/exomat.jpg' %}" class="d-block w-100" alt="top">
             <div class="carousel-caption d-none d-md-block tree">
               <div class="tree">
                   <h2></h2>
                   <h4><p></p></h4></div>
               </div>
             </div>
           <div class="carousel-item">
                <img src="{% static 'img/exoma.jpg' %}" class="d-block w-100" alt="pe">
             <div class="carousel-caption d-none d-md-block tree" >
               <div class="top" >

               </div>
             </div>
           </div>
               <div class="carousel-item">
                 <img src="{% static 'img/exom.jpg' %}" class="d-block w-100" alt="tu">
                 <div class="carousel-caption d-none d-md-block tree">
                   <div class="vip">

                   </div>
                 </div>
               </div>
         </div>
             <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
               <span class="sr-only"></span>
             </a>
             <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
               <span class="sr-only"></span>
             </a>
</div>
<br>
<hr>

<div id="complexe">
    <div class="te">
        <p><h2> LES FONCTIONS</h2></p>

        <br>

    </div>
    <h4> COMPETENCE 1</h4>
<h5>Traiter une situation relative aux calculs algébriques et aux fonctions.</h5>
    <br>
    <br>
<div class="cours">
    <br>
    <h3>THEME 1 : CALCULS ALGEBRIQUES</h3>
    <br>
    <h5>Leçon 1.2 : LIMITES ET CONTINUITES</h5>
    <br>
    <br>
   <h5>Exemple de situation</h5>
<p><h5>Les élèves de Terminale s'exercent à la photographie au sein du club photo du lycée.<br> Ils savent
qu’en photographie, la profondeur de champ correspond à la zone de l'espace dans laquelle doit
se trouver le sujet à photographier pour en obtenir une image que l'œil considérera nette.<br>
En optique, pour que la netteté s'étende de la distance a à la distance r, la mise au point doit être
faite à la distance p = 2𝑎𝑟
𝑎+𝑟
(les distances sont exprimées en mètres).<br>
Les élèvent souhaitent que la netteté s'étende de « 5 m à l'infini ».<br>
Un élèves affirme alors que p = 10 -
50
5+𝑟
.<br>
Ces camarades décident de vérifier cette formule et de faire des calculs pour déterminer la
distance de mise au point à choisir.

    <br>

    <br>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


    <br>
    <div id="accord">
    <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
       IDENTIFIER
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">-- les notions de branches paraboliques de direction celle de(OI) ou celle de (OJ)
dans un repère (O, I, J)<br>
- une racine n-ième d’un nombre positif
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        CONNAITRE
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">- la propriété relative à la limite d’une fonction composée<br>
- la propriété relative à la limite d’une fonction monotone sur un intervalle
ouvert<br>
- les propriétés relatives aux opérations sur les fonctions continues sur un
intervalle<br>
- la propriété relative à la composée de deux fonctions continues sur un
intervalle<br>
- les propriétés relatives à l’image d’un intervalle par une fonction continue :<br>
* en utilisant son tableau de variation<br>
* en utilisant une méthode algébrique<br>
- le théorème des valeurs intermédiaires :<br>
- les propriétés relatives aux fonctions continues et strictement
monotones sur un intervalle<br>
- les méthodes de dichotomie et de balayage<br>
- les propriétés relatives aux puissances d’exposants rationnels</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        DETERMINER
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">- la limite d’une fonction<br>
* en utilisant les limites de référence<br>
* en utilisant une expression conjuguée<br>
* en utilisant la définition d’un nombre dérivé<br>
* en utilisant les propriétés de comparaison<br>
(minoration, majoration et encadrement)
- la limite d’une fonction composée<br>
- l’image d’un intervalle par une fonction continue<br>
* en utilisant son tableau de variation<br>
* en utilisant une méthode algébrique<br>
- une valeur approchée d’une solution d’une équation<br>
- le nombre de solutions d’une équation du type f(x) = k<br>
- la formule explicite d’une bijection réciproque quand cela
est possible<br>
- un prolongement par continuité d’une fonction en un point
</div>
    </div>
  </div>
</div>
        <hr>
        <br>
        <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        INTERPRETER
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">- graphiquement :<br>
* lim
x+
f(x)
x
= 0
* lim
x+
f(x)
x
= + (resp )

* lim
x
f(x)
x
=0
* lim
x
f(x)
x
=+ (resp )
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
       DEMONTRER
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">- qu’une fonction f est une bijection d’un intervalle ׀ sur un intervalle J dans le
cas où f est continue et strictement monotone sur ׀.<br>
- l’existence d’une unique solution de l’équation f(x) = m (m réel) sur un
intervalle ׀ ,f étant continue et strictement monotone sur ׀<br>
- l’existence d’une unique solution de l’équation f(x) = 0 sur un intervalle ouvert
]a , b[, f étant continue et strictement monotone sur [a , b]
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
       TRAITER UNE SITUATION
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"></div>
    </div>
  </div>
</div>


</div>
    <br>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
    <br>
     <div class="te">
        <p><h2> Dérivabilité et étude de fonctions</h2></p>

        <br>

    </div>
    <h4> COMPETENCE 1</h4>
<h5>Traiter une situation relative aux calculs algébriques et aux fonctions.</h5>
    <br>
    <br>
<div class="cours">
    <br>
    <h3>THEME 1 : CALCULS ALGEBRIQUES</h3>
    <br>
    <h5>Leçon 1.2 : LIMITES ET CONTINUITES</h5>
    <br>
    <br>
   <h5>Exemple de situation</h5>
<p><h5>
Un proviseur décide de mettre en place un système de collecte des eaux de pluie sur un
mur aveugle, à l'arrière de la façade d’une classe du lycée.<br>
Sur ce mur, de forme rectangulaire, deux tuyaux obliques doivent récupérer les eaux de
pluie pour les déverser dans un tuyau vertical aboutissant à un réservoir.

    <br>
    <br>
    <br>
    2image
    <br>
    <br>
    <br>
    <br>

    Sur ce plan, (MH) est la médiatrice de [DC].<br>
Il s’agit de trouver, sur le mur de cette maison, la position du point M qui minimise la
longueur totale des tuyaux.<br>
On note Q la projection de M sur (BC) et on prend comme variable la mesure en radian de
l'angle aigu BMQ = θ.<br>
Les élèves de terminale définissent la fonction g : θ ↦ g(θ) = 2MB + MH sur [0,
2

].<br>
Ils décident d'étudier cette fonction pour minimiser la longueur totale des tuyaux.
    <hr>
    <br>

    <div id="accord">
    <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
       NOTER
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">- un nombre dérivé à gauche (respectivement à droite) d’une fonction<br>
- les dérivées successives d’une fonction

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        CONNAITRE
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">- la définition d’une fonction dérivable à gauche (respectivement à droite) en
un point<br>
- la définition des dérivées successives d’une fonction<br>
- les nouvelles notations des dérivées successives𝑑𝑓
𝑑𝑥
,
𝑑
2𝑓
𝑑𝑥
2
,…,
𝑑
𝑛𝑓
𝑑𝑥
𝑛
(nℕ*)<br>
- les propriétés relatives à la dérivabilité d’une fonction sur un intervalle<br>
- la propriété relative à la dérivée d’une fonction composée<br>
- les propriétés relatives à l’inégalité des accroissements finis (les 2 formes)</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        DETERMINER
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">- le signe d’une fonction en utilisant ses variations<br>
- le sens de variation d’une bijection réciproque d’une fonction f sur un
intervalle J connaissant le sens de variation de f sur un intervalle I<br>
- le nombre dérivé de la fonction𝑓<br>
−1
en un point y0<br>
- un point d’inflexion d’une courbe représentative d’une fonction<br>
- des dérivées successives d’une fonction

</div>
    </div>
  </div>
</div>
        <hr>
        <br>
        <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        INTERPRETER
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">- graphiquement :<br>
- graphiquement la bijection réciproque d’une bijection dans un repère
orthonormé<br>
- une demi-tangente<br>
- graphiquement une fonction du type :<br>
* x↦cos(ax+b)<br>
* x↦sin(ax+b)<br>
* x↦tan(ax+b)<br>
* x↦
ax + b
cx² + dx + e<br>
* x↦
ax² + bx + c
dx² + ex + f<br>
* x↦ ax + b<br>
* x↦ ax² + bx + c<br>
- graphiquement des fonctions de raccordement<br>
- graphiquement une fonction :<br>
* comportant une valeur absolue<br>
* comportant une racine carrée
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
       DEMONTRER
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">l’inégalité des accroissements finis pour :<br>
* démontrer une inégalité<br>
* établir un encadrement

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
       TRAITER UNE SITUATION
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">- faisant appel à la dérivabilité et à la représentation graphique des fonctions</div>
    </div>
  </div>
</div>

    <br>
</div>
</div>

<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>




























































 <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Preinzclass.com <i>💻𝙿̲𝚁̲𝙴̲𝙸̲𝙽̲𝚉̲ 𝙲̲𝙻̲𝙰̲𝚂̲𝚂̲🏛 </i> is an initiative  to help the to help terminal students to be up to date on their educational performance during the covid 19 crisis because this virus is still among us.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
              <li><a href="http://scanfcode.com/category/front-end-development/">Mathematique</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">Science</a></li>
              <li><a href="http://scanfcode.com/category/java-programming-language/">Exercice</a></li>
              <li><a href="http://scanfcode.com/category/android/">Philosophie</a></li>
              <li><a href="http://scanfcode.com/category/templates/">Derniers Bac</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">About Us</a></li>
              <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021 💻𝙿̲𝚁̲𝙴̲𝙸̲𝙽̲𝚉̲ 𝙲̲𝙻̲𝙰̲𝚂̲𝚂̲🏛 Reserved by
         <a href="#">Preinz_Chat_Class</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>



  <script src="{% static 'js/maine.js' %}"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</body>
</html>